@media (max-width: 768px){
    box{
      display: none;
    }
  }
  @media (max-width: 768px) and 
  (min-width:999px ){
    box {
      display: none;
    }
  }

.dropdown-toggle::after {
    margin-left: 0.5rem;
}